---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'
import ResumeSection from '../components/ResumeSection.astro'
---

<Layout>
  <div class='relative'>
    <Navigation />
    <main id='main-content'>
      <Hero />
      <About />
      <Projects />
      <Contact />
      <ResumeSection />
    </main>
  </div>
</Layout>
